[submodule ".registry"]
	path = .registry
	url = https://github.com/ryanzomorrodi/ryanzomorrodi.r-universe.dev
	branch = HEAD
[submodule "centr"]
	path = centr
	url = https://github.com/ryanzomorrodi/centr
[submodule "healthatlas"]
	path = healthatlas
	url = https://github.com/ryanzomorrodi/healthatlas
