[submodule ".registry"]
	path = .registry
	url = https://github.com/ryanzomorrodi/ryanzomorrodi.r-universe.dev
	branch = HEAD
[submodule "centr"]
	path = centr
	url = https://github.com/ryanzomorrodi/centr
[submodule "healthatlas"]
	path = healthatlas
	url = https://github.com/ryanzomorrodi/healthatlas
[submodule "sasquatch"]
	path = sasquatch
	url = https://github.com/ryanzomorrodi/sasquatch
[submodule "socratadata"]
	path = socratadata
	url = https://github.com/ryanzomorrodi/socratadata
